<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Eight-Bot_Packages" value="https://eightbot.pkgs.visualstudio.com/a9a63e6a-9fb7-4a09-bd2d-7d00819f1811/_packaging/Eight-Bot_Packages/nuget/v3/index.json" />
    <add key="Eight-Bot GitHub" value="https://nuget.pkg.github.com/TheEightBot/index.json" />
  </packageSources>
</configuration>